function TetronimoO.new 0
push constant 19
call Memory.alloc 1
pop pointer 0
push constant 136
pop this 0
push constant 0
pop this 4
push constant 146
pop this 1
push constant 0
pop this 5
push constant 136
pop this 2
push constant 10
pop this 6
push constant 146
pop this 3
push constant 10
pop this 7
push argument 1
pop this 9
push constant 0
pop this 14
push constant 1
pop this 15
push constant 24
pop this 16
push constant 25
pop this 17
push constant 0
pop this 11
push constant 1
pop this 10
push constant 1
pop this 12
push constant 1
pop this 13
push constant 0
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 24
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 25
push argument 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
pop this 8
push pointer 0
push constant 0
not
call TetronimoO.DrawTetronimo 2
pop temp 0
push pointer 0
return
function TetronimoO.DrawTetronimo 0
push argument 0
pop pointer 0
push argument 1
call Screen.setColor 1
pop temp 0
push this 0
push this 4
push this 0
push constant 8
add
push this 4
push constant 8
add
call Screen.drawRectangle 4
pop temp 0
push this 1
push this 5
push this 1
push constant 8
add
push this 5
push constant 8
add
call Screen.drawRectangle 4
pop temp 0
push this 2
push this 6
push this 2
push constant 8
add
push this 6
push constant 8
add
call Screen.drawRectangle 4
pop temp 0
push this 3
push this 7
push this 3
push constant 8
add
push this 7
push constant 8
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function TetronimoO.MoveRight 0
push argument 0
pop pointer 0
push pointer 0
push constant 0
call TetronimoO.DrawTetronimo 2
pop temp 0
push this 11
push constant 1
add
pop this 11
push this 10
push constant 1
add
pop this 10
push this 0
push constant 10
add
pop this 0
push this 1
push constant 10
add
pop this 1
push this 2
push constant 10
add
pop this 2
push this 3
push constant 10
add
pop this 3
push pointer 0
push constant 0
not
call TetronimoO.DrawTetronimo 2
pop temp 0
push this 9
call Sys.wait 1
pop temp 0
push constant 0
return
function TetronimoO.DropDown 0
push argument 0
pop pointer 0
push pointer 0
push constant 0
call TetronimoO.DrawTetronimo 2
pop temp 0
push this 13
push constant 1
add
pop this 13
push this 12
push constant 1
add
pop this 12
push this 4
push constant 10
add
pop this 4
push this 5
push constant 10
add
pop this 5
push this 6
push constant 10
add
pop this 6
push this 7
push constant 10
add
pop this 7
push pointer 0
push constant 0
not
call TetronimoO.DrawTetronimo 2
pop temp 0
push constant 0
return
function TetronimoO.MoveLeft 0
push argument 0
pop pointer 0
push pointer 0
push constant 0
call TetronimoO.DrawTetronimo 2
pop temp 0
push this 11
push constant 1
sub
pop this 11
push this 10
push constant 1
sub
pop this 10
push this 0
push constant 10
sub
pop this 0
push this 1
push constant 10
sub
pop this 1
push this 2
push constant 10
sub
pop this 2
push this 3
push constant 10
sub
pop this 3
push pointer 0
push constant 0
not
call TetronimoO.DrawTetronimo 2
pop temp 0
push this 9
call Sys.wait 1
pop temp 0
push constant 0
return
function TetronimoO.Rotate 0
push argument 0
pop pointer 0
push this 8
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
push constant 0
call TetronimoO.DrawTetronimo 2
pop temp 0
push this 10
push constant 1
sub
pop this 10
push this 12
push constant 1
add
pop this 12
push this 0
push constant 10
add
pop this 0
push this 4
push constant 10
add
pop this 5
push this 1
pop this 2
push this 5
push constant 10
add
pop this 6
push this 1
push constant 10
sub
pop this 3
push this 5
pop this 7
push pointer 0
push constant 0
not
call TetronimoO.DrawTetronimo 2
pop temp 0
push constant 2
pop this 8
push this 9
call Sys.wait 1
pop temp 0
push constant 0
return
label IF_FALSE0
push this 8
push constant 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
push constant 0
call TetronimoO.DrawTetronimo 2
pop temp 0
push this 10
push constant 1
add
pop this 10
push this 12
push constant 1
sub
pop this 12
push this 3
pop this 1
push this 1
push constant 10
add
pop this 2
push this 5
pop this 6
push this 2
push constant 10
add
pop this 3
push pointer 0
push constant 0
not
call TetronimoO.DrawTetronimo 2
pop temp 0
push constant 3
pop this 8
push this 9
call Sys.wait 1
pop temp 0
push constant 0
return
label IF_FALSE1
push this 8
push constant 3
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
push constant 0
call TetronimoO.DrawTetronimo 2
pop temp 0
push this 10
push constant 1
sub
pop this 10
push this 12
push constant 1
add
pop this 12
push this 0
push constant 10
sub
pop this 0
push this 0
pop this 1
push this 1
pop this 2
push this 4
push constant 10
add
pop this 5
push this 5
push constant 10
add
pop this 6
push this 1
push constant 10
add
pop this 3
push this 5
pop this 7
push pointer 0
push constant 0
not
call TetronimoO.DrawTetronimo 2
pop temp 0
push constant 4
pop this 8
push this 9
call Sys.wait 1
pop temp 0
push constant 0
return
label IF_FALSE2
push this 8
push constant 4
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push pointer 0
push constant 0
call TetronimoO.DrawTetronimo 2
pop temp 0
push this 10
push constant 1
add
pop this 10
push this 12
push constant 1
sub
pop this 12
push this 0
push constant 10
add
pop this 1
push this 4
pop this 5
push this 1
push constant 10
add
pop this 2
push this 5
pop this 6
push this 1
pop this 3
push this 5
push constant 10
add
pop this 7
push pointer 0
push constant 0
not
call TetronimoO.DrawTetronimo 2
pop temp 0
push constant 1
pop this 8
push this 9
call Sys.wait 1
pop temp 0
push constant 0
return
label IF_FALSE3
push this 9
call Sys.wait 1
pop temp 0
push constant 0
return
function TetronimoO.CanMove 0
push argument 0
pop pointer 0
push argument 2
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 11
push constant 0
gt
push this 14
push constant 1
sub
push argument 1
add
pop pointer 1
push that 0
push constant 0
eq
and
push this 16
push constant 1
sub
push argument 1
add
pop pointer 1
push that 0
push constant 0
eq
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 14
push argument 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 15
push argument 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 16
push argument 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 17
push argument 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 14
push constant 1
sub
pop this 14
push this 15
push constant 1
sub
pop this 15
push this 16
push constant 1
sub
pop this 16
push this 17
push constant 1
sub
pop this 17
push this 14
push argument 1
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 15
push argument 1
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 16
push argument 1
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 17
push argument 1
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
not
return
goto IF_END1
label IF_FALSE1
push constant 0
return
label IF_END1
label IF_FALSE0
push argument 2
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 10
push constant 23
lt
push this 15
push constant 1
add
push argument 1
add
pop pointer 1
push that 0
push constant 0
eq
and
push this 17
push constant 1
add
push argument 1
add
pop pointer 1
push that 0
push constant 0
eq
and
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 14
push argument 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 15
push argument 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 16
push argument 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 17
push argument 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 14
push constant 1
add
pop this 14
push this 15
push constant 1
add
pop this 15
push this 16
push constant 1
add
pop this 16
push this 17
push constant 1
add
pop this 17
push this 14
push argument 1
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 15
push argument 1
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 16
push argument 1
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 17
push argument 1
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
not
return
goto IF_END3
label IF_FALSE3
push constant 0
return
label IF_END3
label IF_FALSE2
push argument 2
push constant 3
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 12
push constant 23
lt
push this 16
push constant 24
add
push argument 1
add
pop pointer 1
push that 0
push constant 0
eq
and
push this 17
push constant 24
add
push argument 1
add
pop pointer 1
push that 0
push constant 0
eq
and
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push this 14
push argument 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 15
push argument 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 16
push argument 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 17
push argument 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 14
push constant 24
add
pop this 14
push this 15
push constant 24
add
pop this 15
push this 16
push constant 24
add
pop this 16
push this 17
push constant 24
add
pop this 17
push this 14
push argument 1
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 15
push argument 1
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 16
push argument 1
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 17
push argument 1
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
not
return
goto IF_END5
label IF_FALSE5
push constant 0
return
label IF_END5
label IF_FALSE4
push argument 2
push constant 4
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push constant 0
return
label IF_FALSE6
push constant 0
return
function TetronimoO.CheckForRemoval 6
push argument 0
pop pointer 0
push constant 4
call Array.new 1
pop local 5
push constant 0
pop local 3
push constant 0
push local 5
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 5
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 5
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 5
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
not
pop local 4
push this 13
pop local 0
label WHILE_EXP0
push local 0
push this 12
push constant 1
add
lt
not
if-goto WHILE_END0
push constant 24
push local 0
call Math.multiply 2
pop local 2
push constant 0
pop local 1
push constant 0
not
pop local 4
label WHILE_EXP1
push local 1
push constant 24
lt
not
if-goto WHILE_END1
push local 2
push local 1
add
push argument 1
add
pop pointer 1
push that 0
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop local 4
label IF_FALSE0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push local 4
push constant 0
not
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 3
push constant 1
add
pop local 3
push local 0
push this 13
sub
push local 5
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push local 4
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
push argument 1
push local 5
push local 3
push argument 2
call TetronimoO.RemoveRows 5
return
label IF_FALSE2
push constant 0
return
function TetronimoO.RemoveRows 2
push argument 0
pop pointer 0
push constant 0
pop local 0
push constant 0
push argument 2
add
pop pointer 1
push that 0
push constant 1
neg
eq
not
push constant 1
push argument 2
add
pop pointer 1
push that 0
push constant 1
neg
eq
not
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push constant 1
add
pop local 0
push argument 4
push constant 100
add
pop local 1
label IF_FALSE0
push constant 1
push argument 2
add
pop pointer 1
push that 0
push constant 1
neg
eq
not
push constant 2
push argument 2
add
pop pointer 1
push that 0
push constant 1
neg
eq
not
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 0
push constant 1
add
pop local 0
push argument 4
push constant 300
add
pop local 1
label IF_FALSE1
push constant 2
push argument 2
add
pop pointer 1
push that 0
push constant 1
neg
eq
not
push constant 3
push argument 2
add
pop pointer 1
push that 0
push constant 1
neg
eq
not
and
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 0
push constant 1
add
pop local 0
push argument 4
push constant 600
add
pop local 1
label IF_FALSE2
push constant 0
push argument 2
add
pop pointer 1
push that 0
push constant 1
neg
eq
not
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push pointer 0
push argument 1
push constant 0
push argument 2
add
pop pointer 1
push that 0
call TetronimoO.RedrawGameField 3
pop temp 0
label IF_FALSE3
push constant 1
push argument 2
add
pop pointer 1
push that 0
push constant 1
neg
eq
not
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push pointer 0
push argument 1
push constant 1
push argument 2
add
pop pointer 1
push that 0
call TetronimoO.RedrawGameField 3
pop temp 0
label IF_FALSE4
push constant 2
push argument 2
add
pop pointer 1
push that 0
push constant 1
neg
eq
not
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push pointer 0
push argument 1
push constant 2
push argument 2
add
pop pointer 1
push that 0
call TetronimoO.RedrawGameField 3
pop temp 0
label IF_FALSE5
push constant 3
push argument 2
add
pop pointer 1
push that 0
push constant 1
neg
eq
not
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push pointer 0
push argument 1
push constant 3
push argument 2
add
pop pointer 1
push that 0
call TetronimoO.RedrawGameField 3
pop temp 0
label IF_FALSE6
push local 1
return
function TetronimoO.RedrawGameField 4
push argument 0
pop pointer 0
push constant 0
pop local 2
push argument 2
pop local 0
push local 0
push constant 1
sub
pop local 1
label WHILE_EXP0
push local 1
push constant 1
neg
gt
not
if-goto WHILE_END0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 135
push local 0
push constant 10
call Math.multiply 2
push constant 375
push local 0
push constant 10
call Math.multiply 2
push constant 8
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 0
pop local 2
label WHILE_EXP1
push local 2
push constant 24
lt
not
if-goto WHILE_END1
push local 0
push constant 24
call Math.multiply 2
push local 2
add
push argument 1
add
push local 1
push constant 24
call Math.multiply 2
push local 2
add
push argument 1
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 24
call Math.multiply 2
push local 2
add
push argument 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP1
label WHILE_END1
push local 0
push constant 1
sub
pop local 0
push local 1
push constant 1
sub
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
pop local 2
label WHILE_EXP2
push local 2
push constant 24
lt
not
if-goto WHILE_END2
push constant 0
pop local 3
label WHILE_EXP3
push local 3
push constant 24
lt
not
if-goto WHILE_END3
push constant 24
push local 2
call Math.multiply 2
push local 3
add
push argument 1
add
pop pointer 1
push that 0
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 136
push constant 10
push local 3
call Math.multiply 2
add
push constant 10
push local 2
call Math.multiply 2
push constant 144
push constant 10
push local 3
call Math.multiply 2
add
push constant 10
push local 2
call Math.multiply 2
push constant 8
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE0
push local 3
push constant 1
add
pop local 3
goto WHILE_EXP3
label WHILE_END3
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP2
label WHILE_END2
push constant 0
return
function TetronimoO.Dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
